---
layout: default
title: Hem
id: "index"
---

<div class="flex justify-center items-center py-10 md:py-20 mx-8">
    <!-- Intro -->
    <div class="text-4xl">
        <h1 class="mb-4 font-bold text-purple-700 animate__animated animate__flipInX">Dannes Teknikhörna</h1>
        <p class="mb-4 text-lg text-gray-700">Här hittar du allt från mobilstyrda<br>
            lampor till 3D-printade dörrhandtag!
        </p>
        <a href="projekt.html" class="button_1">Projekt</a>
    </div>
    <!-- Circle -->
    <div class="hidden md:block ml-8">
        <div style="background-image: url('/assets/blog_media/E45D46B6-D489-44A1-8A62-976DC4CD875A_1_105_c.jpeg')"
        class="flex-shrink-0 w-72 h-72 bg-cover bg-no-repeat bg-center rounded-full border-4 border-purple-900">
        </div>
    </div>
</div>

<section class="index_section">
    <h2>Senaste projekt</h2>
    {% include projects.html %}
</section>

<section class="index_section bg-white">
    <h2 id="3d_utskifter">3D-utskrifter</h2>
    <div id="img_grid" class="flex justify-center animate__animated">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 max-w-2xl mx-4">
            {% for image in site.static_files %}
                {% if image.path contains '3d_prints' %}
                    <a href="{{ site.baseurl }}{{ image.path }}" role="img" aria-label="image" data-src="{{ site.baseurl }}{{ image.path }}" style="background-image: url('/assets/img/Spinner-1s-200px.gif')"
                    class="lazyload flex-shrink-0 w-36 h-36 sm:w-40 sm:h-40 bg-cover bg-no-repeat bg-center rounded-lg hover:opacity-50"></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>