<footer class="px-2 py-6 bg-gradient-to-r from-purple-900 to-gray-800">
    <div class="flex flex-col md:flex-row justify-between px-8 max-w-2xl mx-auto">
        <div>
            <div class="mb-2 text-white text-xl uppercase">Länkar</div>
            <ul>
                <li><a class="text-white underline" href="https://forms.gle/kJ8iCGZjzHDTavnB6" target=”_blank” rel="noopener">Buggrapport</a></li>
                <li><a class="text-white underline" href="/sitemap.xml">Webbplatskarta</a></li>
            </ul>
        </div>
        <div class="flex flex-col md:items-center my-4 md:my-0">
            <div class="mb-2 text-white text-xl uppercase">Finns även på</div>
            <a href="https://www.instagram.com/dannesteknikhorna/" target="_blank" rel="noopener" aria-label="Instagram">
                <i class="fab fa-instagram-square text-5xl text-white"></i>
            </a>
        </div>
        <div>
            <div class="mb-2 text-white text-xl uppercase">kontakta</div>
            <ul>
                <li><a class="text-white underline" href="mailto:dannesteknikhorna@gmail.com">Skicka E-post</a></li>
            </ul>
        </div>
    </div>

</footer>