<li class="{% if page.id == 'index' %}current_page{% endif%}"><a href="/">Hem</a></li>
<li class=""><a href="/#3d_utskifter">3D-Utskrifter</a></li>
<li class="{% if page.id == 'projekt' %}current_page{% endif%}"><a href="/projekt.html">Projekt</a></li>
<li class="{% if page.id == 'om' %}current_page{% endif%}"><a href="/om.html">Om</a></li>
<li">
    <label class="relative cursor-pointer select-none ml-4" title="Ändra mellan ljust och mörkt läge">
        <input id="theme_changer" class="absolute opacity-0 cursor-pointer h-0 w-0" type="checkbox" onclick="themeChange()">
        <i id="theme_icon" class="fas fa-moon text-gray-600 dark:text-gray-400 animate__animated"></i>
      </label>
</li>