---
---

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #d8d8d8;
    background-repeat: repeat-y;
    background-size: contain;
}

header {
    position: sticky;
    top: 0;
    background-color: #272727;;
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
    z-index: 999;
}

header p {
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 10px 20px;
    margin: 40px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(179, 179, 179);
}

section p {
    display: inline-block;
    margin: 0px 0 20px 0;
    line-height: 1.5rem;
    color: rgb(29, 29, 29);
}

section p::first-letter {
    text-transform: capitalize;
}

section li {
    line-height: 2;
}

section a {
    text-decoration: none;
    color: rgb(38, 99, 119);
}

h1 {
    position: sticky;
    display: block;
    margin: 0 -20px;
    text-align: center;
    color: #272727;
    background-color: #a1a0a0;
    padding: 15px 0;
    top: 39px;
    font-size: 5vw;
    box-shadow: 0 2px 5px rgb(179, 179, 179);
}

h1:nth-of-type(2) {
    background-color: #e2bda4;
}

h1:nth-of-type(3) {
    background-color: rgb(153, 202, 153);
}

h1:nth-of-type(4) {
    background-color: rgb(250, 234, 144);
}

h1:nth-of-type(5) {
    background-color: rgb(236, 168, 168);
}

h1:nth-of-type(6) {
    background-color: rgb(200, 164, 248);
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

.sticky {
    position: sticky;
    top: 39px;
}

h2 {
    color: #272727;;
}

h1::before, h1::after {
    content: " - ";
  }

footer {
    //position: sticky;
    bottom: 0;
    background-color: wheat;
    margin: 0;
    padding: 10px 20px;
}

small {
    display: block;
    padding: 0px 40px;
    padding-bottom: 30px;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}